.navbar {
  height: 50px;
  background-color: rgb(255, 102, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: large;
  font-family: Cursive;
}

.image {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px; /* Add a margin to create space between images */
}

.image span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}
